.loading {
    width: 72px;
    height: auto;
    margin-bottom: var(--spacing-medium);
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .loading {
        width: 48px;
    }
}