.character-item {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    background-color: var(--background-light);
    border-radius: 8px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;

    cursor: pointer;
}

.character-item:hover {
    opacity: 0.7;
}

.character-info {
    padding: var(--spacing-small) var(--spacing-medium);
    align-self: center;
}

.character-item .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-item .fav-icon {
    position: absolute;
    bottom: var(--spacing-small);
    right: var(--spacing-small);

    width: 32px;
    height: 32px;
}

@media screen and (max-width: 576px) {
    .character-item .fav-icon {
        width: 24px;
        height: 24px;
    }
}